.categories {
  display: grid;
  padding: 16px;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.category {
  /* width: calc(100% / 3); */
  height: 220px;
  position: relative;
}

.category-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  filter: brightness(0.8);
  display: inline-block;
  cursor: pointer;
}
.category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: aliceblue;
  transform: translateX(-50%) translateY(-50%);
  font-size: 30px;
  font-weight: bold;
}
