.containerActivities {
  display: grid;
  padding: 0px 10px;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.activity {
  max-height: 500px;
  cursor: pointer;
}
.activity:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}
.imgActivity {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 65%;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
}

.box {
  height: 90px;
}

.box p {
  /* Line Clamp */
  display: -webkit-box;
  max-width: 70%;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate {
  text-overflow: ellipsis;

  /* Needed to make it work */
  overflow: hidden;
}
