.search {
  max-width: 20%;
  position: relative;
}

.icon-search {
  position: absolute;
  top: 50%;
  left: 12px;
  z-index: 10;
  transform: translateY(-50%);
}
.search-input {
  padding-left: 40px;
  background-color: #e9ecef;
  border-radius: 50px !important;
}
.search-input:hover,
.search-input:focus {
  background-color: white;
}
